<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ficha 4</title>
</head>
<body>
    <div id="app">
        {{ titulo }}
        <br>
        <input type="text" placeholder="Insira uma nova tarefa" v-model="novaTarefa" @keyup.enter="inseretarefa()">
        <button @click="toggleEdit">Editar</button>
        <ul v-if="!edit">
            <li v-for="item in tarefas"
                :class="{realizada: item.realizada, prioritario: item.prioritario}"
                @click="realizaTarefa(item)">
                {{ item.nome }}
            </li>
        </ul>
        <ul v-if="edit">
            <li v-for="item in tarefas" :class="{realizada: item.realizada, prioritario: item.prioritario}">
                <input type="text" v-model="item.nome">
                <input type="checkbox" v-model="item.prioritario">
                <input type="checkbox" v-model="item.realizada">
            </li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                titulo: 'Lista de tarefas',
                novaTarefa: '',
                edit: false,
                tarefas:[{
                    nome: 'Exercicio de HTML e CSS',
                    prioritario: false,
                    realizada: false
                }, {
                    nome: 'Exercicio de Javascript',
                    prioritario: false,
                    realizada: false
                }, {
                    nome: 'Exericicio de VueJS',
                    prioritario: false,
                    realizada: false
                }, {
                    nome: 'Exercicio de Angular',
                    prioritario: false,
                    realizada: false
                }, ]
            },
            methods:{
                realizaTarefa: function(item){
                    item.realizada = !item.realizada;
                },
                toggleEdit:function(item){
                    this.edit = !this.edit
                    console.log(this.edit)
                },
                inseretarefa: function(){
                    if(!!this.novaTarefa){
                        this.tarefas.push({
                            nome: this.novaTarefa,
                            prioritario: false,
                            realizada: false
                        })
                        this.novaTarefa = ''
                    }
                }
            }
        })
    </script>
    <style>
        .realizada {
            text-decoration: line-through;
            color: grey;
        }

        .prioritario{
            color: red;
        }
    </style>
</body>
</html>