<!Doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

<div id="app">
    <h1>{{texto}}</h1>
    <input type="text" v-model="num1">
    <input type="text" v-model="num2">
    
    <button @click="soma(num1,num2)">Soma</button>
    <button @click="sub(num1,num2)">Subração</button>
    <button @click="div(num1,num2)">Divisão</button>
    <button @click="mult(num1,num2)">Multiplicação</button>
    <button @click="elev(num1,num2)">Elevado</button>
    <h3>{{resultado}}</h3>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.7/dist/vue.js"></script>
<script>
    var aplicacao = new Vue({
        el: '#app',
        data: {
            num1: 0,
            num2: 0,
            texto: 'Insira dois numeros',
            resultado: null
        },
        methods:{
            soma: function(a,b){
                this.resultado=parseInt(a) + parseInt(b);
            },
            sub: function(a,b){
                this.resultado=parseInt(a) - parseInt(b);
            },
            div: function(a,b){
                this.resultado=parseInt(a) / parseInt(b);
            },
            mult: function(a,b){
                this.resultado=parseInt(a) * parseInt(b);
            },
            elev: function(a,b){
                this.resultado=Math.pow(parseInt(a),parseInt(b));
            }
        }
    })
</script>
</body>

</html>